
#canvasBox {
    position: relative;
    margin-top: 30px;
    margin: 0 auto;
}

#startText {
    position: absolute;
    color: white;
    top: 45px;
    left: 45%;
}

#scoreText {
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
}