@keyframes colorChange {
    0%   {background-color: rgba(255,255,0,0.7); color: rgba(255,255,0,0.4)}
    20%  {background-color: rgba(255,0,0,0.7); color: rgba(255,255,0,0.4)}
    40%  {background-color: rgba(255,0,255,0.7); color: rgba(255,255,255,0.4)}
    60%  {background-color: rgba(0,255,0,0.7); color: rgba(0,255,0,0.4)}
    80%  {background-color: rgba(0,0,255,0.7); color: rgba(0,255,255,0.4)}
    100% {background-color: rgba(255,255,0,0.7); color: rgba(255,255,0,0.4)}
}

@keyframes rotate {
    0%   {transform: rotate(0deg)}
    50%  {transform: rotate(180deg)}
    100% {transform: rotate(360deg)}
}

@keyframes growAndShrink {
    0% {transform: scale(1,1); font-size: 20px;}
    50% {transform: scale(2, 1.5); font-size: 36px;}
    100% {transform: scale(1,1); font-size: 20px;}
}

body, html{
    width: 100%;
    height: 100%;
    background-color: black;
}

#bodyDiv {
    width: 100%;
    height: 100%;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#mainDiv {
    background-color: blue;
    margin: 0 auto;
    width: 80%;
}

.unreadable {
    transition: all 0.2s;
    transform: rotate(180deg);
    animation-name: rotate;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.stupid {
    transition: all 0.5s;
    animation-name: growAndShrink;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1s;
}
