
body {
    background-image: url("../img/golfball.jpg");
    background-size: cover;
}

.cell {
    width: 10%;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 50px auto;
    border-radius: 20px;
}

.holeRow {
    background-color: rgb(255,225,0);
    font-weight: bold;
}

.modalRemove {
    display: block;
    color: coral;
    text-decoration: none;
}
.modalRemove:hover {
    color: rgb(230, 150, 150);
    text-decoration: none;
}
.modalRemove:focus {
    color: rgb(230, 150, 150);
    text-decoration: none;
}

.parRow {
    background-color: orange;
}

.player {
    background-color: orange;
}

.playerLabel {
    font-size: 24px;
}

.playerList {
    width: 100%;
    padding: 9px;
    margin: -10px;
}
.playerTable {
    margin-bottom: 0;
}

.playerToAdd span{
    display: inline-block;
    padding: 10px;
}

.rowContainer {
    margin-top: 10px;
    margin-bottom: 8px;
    border-style: solid;
    border-bottom-width: 1px;
}

div.row {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 8px;
    width: 100%;
    margin: 0 auto;
}

div.row div.cell:first-child {
    width: 33%;
    font-weight: bold;
    font-size: 18px;
}

.totalDiv {
    margin-left: 20px;
    margin-bottom: 30px;
}

.yardageRow {
    background-color: rgb(255,255,133);
}

#addPlayerList label {
    padding: 8px;

}

#topTitle {
    color: darkorange;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    margin: 20px auto;
    margin-top: 40px;
    text-align: center;
}

#selectCourse {
    margin: 10px;
}
