
@media (max-width: 768px) {
    .showXS {
        display: block;
    }

    .labelText {
        text-align: center;
    }

    .noShow {
        display: none;
    }

    .holeRow>div {
        text-align: center;
        padding: 12px;
    }

}

@media (min-width: 769px) {
    .showXS {
        display: none;
    }
}

body {
    background-image: url("../img/golfball.jpg");
    background-size: cover;
}

.cell {
    width: 10%;
}

.cellLabel {
    text-align: right;
    position: relative;
    right: 20px;
    font-weight: bold;
}

.champion {
    background-color: deepskyblue;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 50px auto;
    border-radius: 20px;
}

.handyRow {
    background-color: burlywood;
}

.holeRow {
    background-color: rgb(255,225,0);
    font-weight: bold;
}

.labelText {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.men {
    background-color: white;
}

.modal-body .alert {
    display: none;
}

.modalRemove {
    display: block;
    color: coral;
    text-decoration: none;
}
.modalRemove:hover {
    color: rgb(230, 150, 150);
    text-decoration: none;
}
.modalRemove:focus {
    color: rgb(230, 150, 150);
    text-decoration: none;
}

div.row {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.parRow {
    background-color: rgb(255,185,140);
}

.playerContainer {
    border-style: solid;
    border-width: 2px;
    margin: 15px auto;
}

.player {
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
}

.player input {
    width: 60px;
    text-align: center;
}

.playerLabel {
    font-size: 24px;
}

.playerList {
    width: 100%;
    padding: 9px;
    margin: -10px;
}

.playerName {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

.playerTable {
    margin-bottom: 0;
}

.playerToAdd span{
    display: inline-block;
    padding: 10px;
}

.playerToAdd {
    margin-left: 18px;
    margin-bottom: 10px;
}

.pro {
    background-color: black;
    color: white;
}

#addPlayerList>div.playerToAdd {
    margin-left: 10px;
}

.rowContainer {
    margin-top: 10px;
    margin-bottom: 8px;
    border-style: solid;
    border-bottom-width: 1px;
}

.totalNameRow, .totalScoreRow {
    display: flex;
}

.totalDiv {
    margin-left: 20px;
    margin-bottom: 30px;
}

.totalPlayerName, .totalPlayerScore {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
}

.type1 {
    background-color: rgb(255,165,0);
}

.type2 {
    background-color: rgb(255,165,100);
}

.women {
    background-color: rgb(255, 100, 100);
}

.meterRow {
    display: none;
}

#addPlayerList label {
    padding: 8px;

}

#mapBox {
    width: 100%;
    height: 600px;
    margin: 30px auto;
    background-color: grey;
}
#map {
    width: 80%;
    height: 100%;
    margin: 30px auto;
}

#parTotal {
    font-size: 45px;
}

#parTotalBox {
    display: flex;
}

#totalParLabel {
    padding-right: 15px;
}

#topTitle {
    color: darkorange;
    font-family: 'Playfair Display', serif;
    font-size: 65px;
    margin: 20px auto;
    margin-top: 40px;
    text-align: center;
}

#selectCourse {
    margin: 10px;
}

#yardsOrMeters {
    margin: 0 auto;
    margin-top: -15px;
    margin-bottom: 15px;
    padding: 10px;
}
